[submodule "engine/vendor/glfw"]
	path = engine/vendor/glfw
	url = https://github.com/preversewharf45/glfw
[submodule "engine/vendor/prevmath"]
	path = engine/vendor/prevmath
	url = https://github.com/preversewharf45/PrevMath
[submodule "engine/vendor/lua"]
	path = engine/vendor/lua
	url = https://github.com/preversewharf45/lua
[submodule "engine/vendor/freetype"]
	path = engine/vendor/freetype
	url = https://github.com/preversewharf45/freetype2
